@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Contact manager</h1>
    <p> 
        This application is a web-based Contact Manager,
        developed using Microsoft ASP.NET Core with a SQL Server database.
        The main objective of this application is to enable users to efficiently store,
        organize and efficiently retrieve contact information, including names, addresses and
        addresses and telephone numbers.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
